PyYAML>=6.0
--extra-index-url https://download.pytorch.org/whl/cu121
numpy
torch
transformers
pandas
pyarrow
pyyaml
scikit-learn
bertopic
sentence-transformers
ruptures
streamlit
plotly
watchdog
tqdm
nltk
